apiVersion: v1
kind: Service
metadata:
  name: backend-svc
  namespace: prex-demo
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
